appdirs==1.4.3
astroid==1.6.3
beautifulsoup4==4.6.0
chardet==3.0.4
cupshelpers==1.0
cycler==0.10.0
decorator==4.3.0
idna==2.6
imread==0.6.1
isort==4.3.4
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
matplotlib==2.2.2
mccabe==0.6.1
memory-profiler==0.52.0
networkx==2.1
npyscreen==4.10.5
numpy==1.14.2
packaging==17.1
Pillow==5.1.0
psutil==5.4.5
pycairo==1.17.0
pycups==1.9.73
pycurl==7.43.0.1
pygame==1.9.3
pygobject==3.28.3
pylint==1.8.4
pyparsing==2.2.0
python-constraint==1.3.1
python-dateutil==2.7.2
pytz==2018.3
pyxdg==0.26
requests==2.18.4
scipy==1.1.0
six==1.11.0
